<!DOCTYPE html>
<html>
  <head>
    <meta charset = "UTF-8" >

  </head>
  <body>
    <a href = "/auth/logout">Logout</a>
    <h1>
      Hello
      <%= user.username %>
      <%= user.id %>
    </h1>

    <div id = "chat-area">
      <div id = "message-listing"></div>
      <div id = "message-submit">
        <input type = "text" placeholder = "Enter your message" />
        <button>Send</button>
      </div>
    </div>

    <template id = "template-chat-message">
      <div class = "chat-message">
        <div id = "message-text">
          <span class = "message-username"></span>
          <span class = "message-time"></span>
        </div>
        <span class = "text"></span>
      </div>
    </template>

  </body>
</html>