<html>
    <head>
        <link rel="stylesheet" href="temp.css" />
        <script src="/js/bundle.js" defer></script>
    </head>
    <body>
        <h1>Available Games</h1>
        <button id="test-button">Click Me</button>
        <ul>
        <% for(let i = 0; i < gamesListing.length; i++) { %>
          <li><%= i %>: <%= gamesListing[i] %></li>
        <% } %>
        </ul>
    </body>
</html>